body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none !important;
}

.main {
    text-align: center;
    display: block;
    margin-top: 100px;
}
.link-wrapper {
    margin-top: 20px;
    font-size: 13px;
    display: flex;
}
.left {
    display: flex;
    gap: 10px;
}

.right {
    display: flex;
    margin-left: auto;
    gap: 10px;
}